<ion-header>
    <ion-toolbar >
      <ion-title style="color: rgb(24, 193, 245); text-align: center; font-family: sans-serif;">Welcome {{user}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
        <ion-content [fullscreen]="true">
  
          <div class="ion-text-center ion-padding">
            <ion-button (click)="logout()" color="danger">Logout</ion-button>
          </div>
          
          <div class="ion-text-center ion-padding" style="justify-content: center;">
            <ion-list> 
              <ion-item>
                <ion-icon name="heart"></ion-icon>
                Buttons
              </ion-item>
              <ion-item>
                <ion-icon name="card"></ion-icon>
                Card
              </ion-item>
              <ion-item>
                <ion-icon name="square"></ion-icon>
                Lists
              </ion-item>
              <ion-item>
                <ion-icon name="star"></ion-icon>
                Tabs
              </ion-item>
            </ion-list>
          </div>
          
  
          <ion-range min="0" max="100">Volume</ion-range>
  
          <section>
            <ion-fab vertical="" horizontal="end" slot="fixed">
              <ion-fab-button>
                  <ion-icon name="add"></ion-icon>
              </ion-fab-button>
              <ion-fab-list side="top">
                  <ion-fab-button>
                      <ion-icon name="logo-facebook"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-button>
                      <ion-icon name="logo-twitter"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-button>
                      <ion-icon name="logo-instagram"></ion-icon>
                  </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
          </section>
  
          <div style="align-items: center; justify-content: center; z-index: 2;">
              <ion-button color="secondary">Secondary Button</ion-button>
              <ion-button color="medium">Medium Button</ion-button>
              <ion-button color="danger">Danger Button</ion-button>
              <ion-button (click)="alert()">Alert Button</ion-button>
              <ion-button (click)="toast()" color="tertiary">Toast Button</ion-button>
              <ion-button (click)="closetoast()" color="danger">CloseToast</ion-button>
              <ion-button (click)="closemodal()">Close Modal</ion-button>
              <ion-toggle [(ngModel)]="condition"></ion-toggle>
          </div>
  
  
          <ion-card class="ion-text-center ion-padding">
            <ion-card-header>
                This is a Card
            </ion-card-header>
            <ion-card-content>
                Hello this is my Activity
            </ion-card-content>
          </ion-card>
  
        </ion-content>
