.background{
    position: absolute;
    top: auto;
    right: auto;
    width: 120%;
    height: 120%;
    background-image: url(../dashboard/ImageFolder/background.jpg);
    background-size: cover;
}

.login-container {
    display: flex;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    color: black;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.loginText{
    position: absolute;
    top: 130px;
    left: 130px;
    z-index: 100;
    color: rgb(9, 206, 59); 
    font-family:Impact;
    padding-top: 10px; 
    padding-bottom: 50px; 
    font-size: 25px;
}

.signup{
    font-size: 10px;
    border: 2px solid black;
}

.login{
    font-size: 25px;
    border: 2px solid black;

}