.background{
    position: absolute;
    top: auto;
    right: auto;
    width: 100vw;
    height: 100vh;
    background-image: url(../dashboard/ImageFolder/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.me{
    position: absolute;
    border-radius: 50%;
    border: 5px solid white;
    top: 10%;
    right: 750px;
    width: 500px;
    height: 500px;
    background-image: url(../dashboard/ImageFolder/Me.jpg);
    background-size: cover;
}

.name{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    top: 63%;
    right: 800px;
    text-align: center;
}

.logout{
    position: absolute;
    font-size: 20px;
    border-radius: 50px;
    top: 75%;
    right: 928px;
}

.crud{
    position: absolute;
    font-size: 20px;
    border-radius: 50px;
    top: 80%;
    right: 940px;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    position: absolute;
    background-color: rgba(green, 0.3);
    border: 3px solid white;
    top: 10%;
    left: 100px;
    width: 500px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Content{
    background-color: rgba(black, 0.3);
    text-align: justify;
    width: 450px;
    padding: 20px;
    font-size: 20px;
    top: 10%;
    left: 100px;
}

.container2{
    position: absolute;
    background-color: rgba(green, 0.3);
    border: 3px solid white;
    top: 37%;
    right: 100px;
    width: 500px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container3{
    position: absolute;
    background-color: rgba(darkgreen, 0.3);
    border: 3px solid white;
    top: 10%;
    right: 100px;
    width: 500px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
