<link rel="stylesheet" href="../dashboard/dashboard.page.scss">
<ion-content [fullscreen]="true">
  <img class="background">
  <ion-button (click)="logout()" color="danger" class="logout">Logout</ion-button>
  <img class="me">
  <h1 class="name">MARK STEVEN B. SIBAYAN<br>BSIT 2-3</h1>

  <div class="container">
    <h1>Introduction</h1>
    <p class="Content"> I am Mark Steven B. Sibayan 2nd Year College Student BSIT 2-3
      From Pamantasan ng Lungsod ng Valenzuela.</p>
    <h1>Hobbies/Likes/Talent/Skills</h1>
    <p class="Content"> 
      <b>Hobbies:</b> MagRelapse tuwing 10pm<br>
      <b>Likes:</b> Morena na Chinita with Glasses<br>  
      <b>Talent:</b> Gumastos at maAttach<br>
      <b>Skills:</b> Nonchalant level 256 </p>
    <h1>Strength and Weakness</h1>
    <p class="Content"> 
      <b>Strength:</b> Kiss at Assurance<br>
      <b>Weakness:</b> Selos, Duda, at Cold Replies
    </p>
    <h1>Motto</h1>
    <p class="Content"> 
      Kung mali makasama ka ako na Makasalanan<br>
      - Heb Abi
    </p>
  </div>

  <div class="container2">
    <h1>Love Language at Bakit?</h1>
    <p class="Content"> <b>Physical Attack at Physical Defense.</b><br>
      Mapanakit kasi mga babae kaya dapat prepared.</p>
    <h1>Kung Pagkain ka Ano ka at Bakit?</h1>
      <p class="Content"> Bubblegum, kasi bawal lunukin.</p>
    <h1>Pet Peeve</h1>
      <p class="Content">Maasim at nanununtok pag tumatawa</p>
  </div>

  <div class="container3">
    <h1>Where Do You See Yourself In 5yrs?</h1>
    <p class="Content"> In a Good and Stable situation with enough food, moneyd and cellmates.</p>
  </div>
</ion-content>
