
<ion-content [fullscreen]="true">
  <img class="background">
  <h1 class="loginText"><b>Activity 8 and 9</b></h1>
  
  <pre class="ion-text-center ion-padding" 
  style="background: linear-gradient(45deg, #38eaf7, #03105a); 
  margin-left: 50px; margin-right: 50px; top: 40%;">
    
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">RetypePassword</ion-label>
      <ion-input type="password" [(ngModel)]="retypePassword"></ion-input>
    </ion-item>

  <ion-button (click)="signUp()" color="success"  class="signUp">SignUp</ion-button>
  <ion-button (click)="loginPage()" class="loginB">Login</ion-button>
  </pre>
</ion-content>
