
<ion-content [fullscreen]="true">
  <img class="background">
  <h1 class="loginText"><b>SignUp</b></h1>
  
  <pre class="login-container">
    
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">RetypePassword</ion-label>
      <ion-input type="password" [(ngModel)]="retypePassword"></ion-input>
    </ion-item>

  <ion-button (click)="signUp()" color="success"  class="signUp">SignUp</ion-button>
  <ion-button (click)="loginPage()" class="loginB">Login</ion-button>
  </pre>
</ion-content>
