
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> 
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>First Page</h1><br>
  Type URL: <u>"localhost:8100/another-page"</u> to proceed to the next Page

  <!-- <h1 style="text-align: center; color: aqua; 
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  padding-top: 50px; padding-bottom: 50px; font-size: 45px;"><b>LOGIN</b></h1>
  
  <pre class="ion-text-center ion-padding" style="background: linear-gradient(45deg, #38eaf7, #03105a);">
    
    <ion-item>
      <ion-label position="floating">username</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>

  <ion-button (click)="login()" style="border: 2px solid #03105a;">LOGIN</ion-button>
  </pre>

  <pre class="ion-text-center ion-padding">
    Accounts:

    Username: admin
    Password: admin

    Username: sibayan
    Password: 12345
  </pre> -->

</ion-content>
